.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.radio {
  background-color: var(--secondary);
  width: 25px;
  height: 25px;
}

.title {
  font-size: 14px;
}
