.container {
  display: flex;
  width: 350px;
  flex-direction: column;
  height: max-content;
  background-color: var(--secondary);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-radius: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

.optionWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: var(--btn);
  margin-top: 15px;
  cursor: pointer;
}

.buttonSecondary {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #3c3c3c;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #b0b0b0;
}
