.container {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 42px;
}

.carousel {
  width: 100vw;
}

.imgWrapper {
  position: relative;
  height: 500px;
  object-fit: contain;
}
