.container {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 100vh;
}

.imgContainer {
  position: relative;
  width: 500px;
  height: 500px;
  margin-left: 50px;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  min-height: 100vh;
  padding-top: 100px;
  padding-right: 100px;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.desc {
  font-size: 14px;
}

.price {
  font-size: 32px;
}

.catagory {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.quantity {
  display: flex;
  gap: 10px;
}

.quantityButton {
  width: 30px;
  height: 20px;
}
