:root {
  --bg: #ffffff;
  --bgDark: #141414;
  --text: #141414;
  --textAlt: #e5e5e5;
  --primary: #ffffff;
  --gray: #ececec;
  --btnAlt: #005ce6;
  --btn: #66a3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}
