.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  gap: 500px;
  height: 120px;
  background-color: var(--secondary);
  -webkit-box-shadow: -1px 11px 21px -12px rgba(156, 156, 156, 1);
  -moz-box-shadow: -1px 11px 21px -12px rgba(156, 156, 156, 1);
  box-shadow: -1px 11px 21px -12px rgba(156, 156, 156, 1);
}
